section.about 
    .container
        +blockHeader("What we do", "Story about us", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
        .about-list 
          +blockAbout("./images/img-about1.png", "fa fa-users", "Super Team") 
          +blockAbout("./images/img-about2.png", "fa fa-heart", "Super Team") 
          +blockAbout("./images/img-about3.png", "fa fa-city", "Super Team") 