section.device 
    .container 
        +blockHeader("For all devices", "Unique design")
        .device-image
            img.device-img(src="./images/img-devices.png", alt="img-device")
            