footer.footer 
    .container
        .footer-top 
            .footer-column 
                a(href="/").footer-heading MoGo
                p.footer-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nemo est quis enim nihil illum quidem nulla. Veniam non voluptatem voluptate rem quibusdam cupiditate blanditiis. Blanditiis dolores nam sequi rerum!
                p.footer-followers 
                    strong 15k
                    |    followers
                .footer-media 
                    span Follow Us: 
                    .footer-media-list  
                        a.footer-media-link(href="https://www.facebook.com/" target = "_blank") 
                            i.fa-brands.fa-facebook-f.footer-media-item
                        a.footer-media-link(href="https://www.twitter.com/" target = "_blank") 
                            i.fa-brands.fa-twitter.footer-media-item
                        a.footer-media-link(href="https://www.instagram.com/" target = "_blank") 
                            i.fa-brands.fa-instagram.footer-media-item
                        a.footer-media-link(href="https://www.pinterest.com/" target = "_blank") 
                            i.fa-brands.fa-pinterest-p.footer-media-item
                        a.footer-media-link(href="https://www.google.com/" target = "_blank") 
                            i.fa-brands.fa-google-plus-g.footer-media-item
                        a.footer-media-link(href="https://www.youtube.com/" target = "_blank") 
                            i.fa-brands.fa-youtube.footer-media-item
                        a.footer-media-link(href="https://www.basketball.com/" target = "_blank") 
                            i.fal.fa-basketball.footer-media-item
                        a.footer-media-link(href="https://www.tumblr.com/" target = "_blank") 
                            i.fa-brands.fa-tumblr.footer-media-item
                .footer-form 
                    input.footer-input(type="email" placeholder="Your email...")
                    button.footer-button(type='submit') Subscribe
            .footer-column 
                h3.footer-blog-header Blogs
                .footer-blog-list
                    a(href="#").footer-blog-item
                        img(src="./images/img-blogs1.png", alt="img-blog").footer-blog-image
                        .footer-blog-info 
                            h4.footer-blog-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit minima cum ratione, ut illo laudantium amet cumque officiis iure exercitationem quasi nemo tempore doloremque temporibus autem labore earum eos natus.
                            span.footer-blog-date Jan 9, 2016
                    a(href="#").footer-blog-item
                        img(src="./images/img-blogs2.png", alt="img-blog").footer-blog-image
                        .footer-blog-info 
                            h4.footer-blog-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit minima cum ratione, ut illo laudantium amet cumque officiis iure exercitationem quasi nemo tempore doloremque temporibus autem labore earum eos natus.
                            span.footer-blog-date Jan 9, 2016
                    a(href="#").footer-blog-item
                        img(src="./images/img-blogs3.png", alt="img-blog").footer-blog-image
                        .footer-blog-info 
                            h4.footer-blog-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit minima cum ratione, ut illo laudantium amet cumque officiis iure exercitationem quasi nemo tempore doloremque temporibus autem labore earum eos natus.
                            span.footer-blog-date Jan 9, 2016
            .footer-column  
                - var i = 0;
                .footer-instagram
                    h3.footer-instagram-header Instagram
                    .footer-instagram-list
                        while i < 9 
                            img.footer-instagram-item(src="./images/img-instagram1.png", alt="img-instagram")
                            - i++
                    a.footer-instagram-more(href="/") View more photos
        .footer-bottom 
            p.footer-bottom-text &copy; 2016 MoGo free PSD template by 
                span  Laaqiq
            p.footer-bottom-designer Design by 
                a(href="https://www.facebook.com/csynhh" target="_blank") Công Sinh
