header.header 
	.container 
		.header-top 
			a.header-top-logo(href="/") MoGo
			i.fa.fa-bars.header-top-toggle
			ul.header-top-menu
				li.header-top-menu-item
					a.header-top-menu-item-link(href="#") About
				li.header-top-menu-item
					a.header-top-menu-item-link(href="#") Service
				li.header-top-menu-item
					a.header-top-menu-item-link(href="#") Work
				li.header-top-menu-item
					a.header-top-menu-item-link(href="#") Blog
				li.header-top-menu-item
					a.header-top-menu-item-link(href="#") Contact
				li.header-top-menu-item 
					a.header-top-menu-item-icon(href="#") 
						i.fa.fa-shopping-cart
				li.header-top-menu-item 
					a.header-top-menu-item-icon(href="#") 
						i.fa.fa-search
		.header-content 
			.header-content-wrapper
				h2.header-content-caption Creative Template
				h1.header-content-title Welcome To MoGo
				a.header-content-more(href="#") Learn more
		.header-bottom
			.header-bottom-list 
				.header-bottom-item 
					a.header-bottom-item-link(href="#")
						span.header-bottom-item-number 01
						span.header-bottom-item-text Intro 
				.header-bottom-item 
					a.header-bottom-item-link(href="#")
						span.header-bottom-item-number 02
						span.header-bottom-item-text Work 
				.header-bottom-item 
					a.header-bottom-item-link(href="#")
						span.header-bottom-item-number 03
						span.header-bottom-item-text About 
				.header-bottom-item 
					a.header-bottom-item-link(href="#")
						span.header-bottom-item-number 04
						span.header-bottom-item-text Contact 
