section.number 
    .container
        .number-list 
            +blockNumber("42", "WEB DESIGN PROJECTS")
            +blockNumber("123", "HAPPY CLIENT")
            +blockNumber("15", "ADWARD WINNER")
            +blockNumber("99", "CUP OF COFFEE")
            +blockNumber("24", "MEMBERS")