section.people 
    .container 
        .people-container
            +blockHeader("Happy clients", "What people say")
            ul.people-list 
                +blockPeople()
                +blockPeople("./images/img-people2.png","Nick Karvounis")
                +blockPeople("./images/img-people3.png","Jaelynn Castillo")
                +blockPeople("./images/img-people4.png","Mike Petrucci")