section.service 
    .container 
        +blockHeader("We work with", "Amazing service")
        .service-wrapper
            .service-list
               +blockService("./images/img-service-icon1.png", "Photography", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id inventore molestiae officiis explicabo")
               +blockService("./images/img-service-icon2.png", "Web design", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id inventore molestiae officiis explicabo")
               +blockService("./images/img-service-icon3.png", "Creativity", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id inventore molestiae officiis explicabo")
            .service-list
               +blockService("./images/img-service-icon4.png", "SEO", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id inventore molestiae officiis explicabo")
               +blockService("./images/img-service-icon5.png", "CSS/HTML", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id inventore molestiae officiis explicabo")
               +blockService("./images/img-service-icon6.png", "Digital", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id inventore molestiae officiis explicabo")
          
                    