section.story
    .container 
        +blockHeader("Our stories", "Lastest Blog")
        .story-list 
            +blockStory('./images/img-blog1.png',15,'Jan',"Lorem ipsum dolor sit amet","Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", 1560,98)
            +blockStory('./images/img-blog2.png',14,'Jan',"sed do eiusmod tempor","Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", 1560,98)
            +blockStory('./images/img-blog3.png',12,'Jan',"incididunt ut labore et dolore","Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", 1560,98)