section.team 
    .container 
        +blockHeader("Who we are", "Meet our team","Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sed facilis dolor suscipit eveniet qui ea fugiat earum. Quas esse deleniti dolor, sapiente dicta laboriosam voluptas soluta libero molestiae quaerat!Provident, minus voluptates? Iusto non dolore fugit, officia numquam maiores nesciunt perferendis at quibusdam temporibus ut praesentium soluta eos ex odio ea in sequi mollitia? Vitae dicta eum nostrum quaerat.")
        .team-container 
            .team-list  
                +blockTeam
                +blockTeam("./images/img-team2.png", "Christopher Campbell", "Branding/UX design")
                +blockTeam("./images/img-team3.png", "Michael Fertig", "Developer")
