section.quote 
    .container 
        .quote-container
            +blockQuote('./images/img-quote-avatar.png', true, "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", "Joshua Earle")
            +blockQuote('./images/img-quote-avatar.png', true, "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", "Joshua Earle")
            +blockQuote('./images/img-quote-avatar.png', true, "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", "Joshua Earle")