.header {
   padding-top: 40px;
   padding-bottom: 25px;
   min-height: 1000px;
   background: linear-gradient(
         to bottom,
         rgba($primary-color, 0.8),
         rgba($second-color, 0.8)
      ),
      url("../../images/img-header-bg.jpg") no-repeat center / cover;
   &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-logo {
         font-size: 30px;
         font-weight: bold;
         color: white;
      }
      &-toggle {
         color: white;
         display: none;
         visibility: hidden;
      }
      &-menu {
         display: flex;
         justify-content: center;
         align-items: center;
         &-item {
            text-transform: uppercase;
            &-link {
               color: white;
               padding-bottom: 5px;
               padding-top: 5px;
               transition: all ease-in 0.25s;
               padding-right: 50px;
            }
            &-icon {
               color: white;
               padding-right: 50px;
            }
         }
      }
   }
   &-content {
      padding-top: 165px;
      text-align: center;
      color: white;
      &-wrapper {
         max-width: 750px;
         margin: 0 auto;
      }
      &-caption {
         font-family: $third-font;
         font-size: 72px;
         margin-bottom: 50px;
      }
      &-title {
         font-size: 150px;
         font-weight: bold;
         padding-bottom: 35px;
         margin-bottom: 53px;
         position: relative;
         &::after {
            content: "";
            width: 60px;
            height: 3px;
            background-color: white;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
         }
      }
      &-more {
         padding: 10px 30px;
         color: white;
         font-weight: bold;
         border: 3px solid white;
      }
   }
   &-bottom {
      margin-top: 155px;
      &-list {
         display: flex;
         justify-content: space-between;
         gap: 30px;
         flex-wrap: wrap;
      }
      &-item {
         text-transform: uppercase;
         cursor: pointer;
         padding-top: 20px;
         width: calc(25% - 30px);
         border-top: 4px solid white;
         opacity: 0.7;
         position: relative;
         transition: all ease 0.25s;
         &::after {
            content: "";
            width: 70px;
            height: 4px;
            background-color: $primary-color;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-100%);
            transition: opacity ease-out 0.25s;
            opacity: 0;
         }
         &-number {
            font-weight: bold;
            // font-size: 15px;
            margin-right: 3px;
         }
         &-text {
            font-size: 12px;
         }
         &-link {
            color: white;
         }
         &:hover {
            opacity: 1;
            &::after {
               opacity: 1;
            }
         }
      }
   }
   @media screen and (max-width: 1023.98px) {
      min-height: unset;
   }
   @media screen and (max-width: 767.98px) {
      &-top {
         &-logo {
            font-size: 24px;
         }
         &-toggle {
            display: inline-block;
            visibility: visible;
            cursor: pointer;
            align-self: center;
            font-size: 20px;
         }
         &-menu {
            padding: 30px 40px;
            display: inline-block;
            position: fixed;
            top: 0;
            right: 0;
            width: 180px;
            height: 100%;
            transform: translateX(100%);
            background-color: white;
            z-index: 3;
            transition: all linear 0.5s;
            &-item {
               text-transform: uppercase;
               margin: 20px;
               text-align: center;
               &-link {
                  color: $text-color;
                  padding-bottom: 10px;
                  transition: all ease-in 0.25s;
                  &:hover {
                     color: black;
                     border-bottom: 0;
                     font-weight: bold;
                  }
               }
               &-icon {
                  padding: 20px;
                  color: $text-color;
               }
            }
            &.is-expand {
               transform: translateX(0);
            }
         }
      }
      &-content {
         padding-top: 70px;
         &-caption {
            font-size: 25px;
            margin-bottom: 10px;
         }
         &-title {
            font-size: 45px;
            padding-bottom: 15px;
            margin-bottom: 28px;
            &::after {
               width: 50px;
            }
         }
         &-more {
            padding: 8px 24px;
            font-size: 12px;
         }
      }
      &-bottom {
         margin-top: 75px;
         &-list {
            gap: 10px;
            flex-wrap: wrap;
         }
         &-item {
            padding-top: 10px;
            width: calc(25% - 10px);
            &::after {
               width: 30px;
               top: 0.5px;
            }
            &-number {
               font-size: 12px;
               margin-right: 2px;
            }
            &-text {
               font-size: 10px;
            }
         }
      }
   }
}
.line-effect {
   width: 0px;
   height: 2px;
   background-color: $second-color;
   position: absolute;
   inset: 0;
   pointer-events: none;
   transition: all linear 0.25s;
}
