.people {
  background: linear-gradient(to bottom, rgba(white, 0.8), rgba(white, 0.8)),
    url("../../images/img-people-bg.png") no-repeat center / cover;
  padding-bottom: 125px;
  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    padding-left: 40px;
    padding-right: 40px;
  }
  &-item {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    &-avatar {
      object-fit: cover;
    }
    &-name {
      margin-bottom: 10px;
      font-weight: 600;
    }
    &-job {
      font-size: 15px;
      font-family: $second-font;
      font-style: italic;
      font-weight: 300;
      color: $title-color;
      margin-bottom: 15px;
      padding-bottom: 15px;
      display: block;
      position: relative;
      &::after {
        content: "";
        width: 60px;
        height: 3px;
        background-color: $primary-color;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    &-desc {
      font-size: 15px;
      font-family: $second-font;
      color: $text-color;
      line-height: 1.43;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
  }
  @media screen and (max-width: 767.98px) {
    &-list {
      gap: 30px;
      padding-left: 25px;
      padding-right: 25px;
    }
    &-item {
      gap: 16px;
      &-avatar {
        width: 25%;
      }
      &-name,
      &-job {
        font-size: 12px;
      }
      &-job {
        margin-bottom: 7px;
        // padding-bottom: 7px;
      }
      &-desc {
        font-size: 12px;
      }
    }
  }
  @media screen and (max-width: 559.98px) {
    &-list {
      grid-template-columns: none;
      grid-auto-flow: column;
      grid-auto-columns: 85%;
      overflow: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
    }
    &-item {
      scroll-snap-align: center;
      gap: 16px;
      &-avatar {
        width: 25%;
      }
      &-name,
      &-job {
        font-size: 12px;
      }
      &-job {
        margin-bottom: 7px;
        // padding-bottom: 7px;
      }
      &-desc {
        font-size: 12px;
      }
    }
  }
}
